{% extends "base_users_job_seeker.html" %}
{% load static %}

{% block title %}Jobs applied{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">My Job Applications</h2>

  {% if applications %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Job name</th>
          <th scope="col">Type</th>
          <th scope="col">Applied at</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for app in applications %}
        <tr>
          <th>{{ app.job.job_title }}</th>
          <th>{{ app.job.type }}</th>
          <th>{{ app.applied_at|date:"F j, Y" }}</th>
          <th>{{ app.get_status_display }}</th>
          <th><a href="">Withdraw</a></th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You haven't applied to any jobs yet.</p>
  {% endif %}
</div>
{% endblock %}