<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YourApp{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/LogoBlack.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home_base.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-expand-lg custom-navbar shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/LogoBlack.png' %}" alt="TalentForge Logo" width="120" height="90">
                {# <span>TalentForge</span> #}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'profile' %}">
                            <i class="fas fa-user-circle profile-icon"></i>
                        </a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="button btn btn-google" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="vanta-background"></div>

    <div class="d-flex flex-column flex-center-container text-white">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    <div id="cookieConsentBanner">
        <p>
            We use cookies to improve your experience on our site. By clicking "Accept", you agree to the storing of cookies on your device. By clicking "Decline", non-essential cookies will be disabled. For more information, please see our
            <a href="{% url 'privacy_policy' %}">Privacy & Cookies Policy</a>.
        </p>
        <div>
            <button id="acceptCookiesBtn" class="btn btn-accept">Accept</button>
            <button id="declineCookiesBtn" class="btn btn-decline">Decline</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        nonce="{{ csp_nonce }}"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" nonce="{{ csp_nonce }}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.158.0/three.min.js" nonce="{{ csp_nonce }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js" nonce="{{ csp_nonce }}"></script>
    <script src="{% static 'js/vanta.js' %}" nonce="{{ csp_nonce }}"></script>
    <script src="{% static 'js/cookie_agreement.js' %}" nonce="{{ csp_nonce }}"></script>
</body>
</html>